export(coord_golden)
export(coord_square)
export(theme_bdc_black)
export(theme_bdc_gray)
export(theme_bdc_grey)
export(theme_bdc_simple)
export(theme_bdc_simplefacets)
import(ggplot2)
importFrom(grid,unit)
